<config>
  <V10>
    <Topology>
      <ConnectedThreshold>0.1</ConnectedThreshold>
      <ConnectedMaaiveldThreshold>5.0</ConnectedMaaiveldThreshold>
    </Topology>
    <LSkabel>
      <MaxMeasurementDistance>50.0</MaxMeasurementDistance>
      <MinMeasurementDistance>0.1</MinMeasurementDistance>
      <MinMeasurementAngle>45</MinMeasurementAngle>
      <MinDepth>0.6</MinDepth>
      <MaxDepth>1.2</MaxDepth>
    </LSkabel>
    <LSmof>
      <MinConnectionCount>3</MinConnectionCount>
      <MaxConnectionCount>4</MaxConnectionCount>
      <LSkabelSpanningCheck>
        <RequiredCount>3</RequiredCount>
        <Status>NIEUW</Status>
      </LSkabelSpanningCheck>
      <LSkabelPhaseCheck>
        <RequiredCount>4</RequiredCount>
        <Status>NIEUW</Status>
        <Status>REVISIE</Status>
        <L1>L1</L1>
        <L1>BLAUW</L1>
        <L2>L2</L2>
        <L2>GEEL</L2>
        <L3>L3</L3>
        <L3>GROEN</L3>
        <F3>3 Fasen</F3>
        <F3>Allemaal andere manieren</F3>
      </LSkabelPhaseCheck>
      <LSkabelNewCount>3</LSkabelNewCount>
    </LSmof>
    <MSkabel>
      <ConnectionCountStart>1</ConnectionCountStart>
      <ConnectionCountEnd>1</ConnectionCountEnd>
      <WithoutEmptyEnds>
        <Status>BESTAAND</Status>
        <Status>BESTAAND RESERVE</Status>
        <Status>NIEUW</Status>
        <Status>NIEUW RESERVE</Status>
        <Status>REVISIE</Status>
        <Status>REVISIE RESERVE</Status>
      </WithoutEmptyEnds>
    </MSkabel>
    <EAarddraad>
      <ConnectedBuildingsCount>1</ConnectedBuildingsCount>
    </EAarddraad>
  </V10>
  <V11>
    <WithoutEmptyEnds>
      <Status>BESTAAND</Status>
      <Status>NIEUW</Status>
      <Status>REVISIE</Status>
      <Bedrijfstoestand>IN BEDRIJF</Bedrijfstoestand>
      <Bedrijfstoestand>RESERVE</Bedrijfstoestand>
    </WithoutEmptyEnds>
  </V11>
</config>
